<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="navbar-main container">
      <div class="navbar-content">
        <div class="left">Authentication</div>
        <div class="right">
          <a href="login">
            <button>Login</button>
          </a>
        </div>
      </div>
    </div>
    <div class="main-landing">
      <div class="landing-content">
        <div class="lan-left">
          <img src="1.jpg" alt="" width="400" />
        </div>
        <div class="lan-right">
          <h1>Feel free to try Authentication Code...</h1>
          <p class="para-items">
            feel free to check your authentication app here and feel free to
            contact us in your difficulties
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
