<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashbord</title>
    <link rel="stylesheet" href="logout.css" />
  </head>
  <body>
    <div class="navbar-main container">
      <div class="navbar-content">
        <div class="left">Authentication</div>
        <div class="right">
          <form action="logout" method="get">
            <button>Logout</button>
          </form>
        </div>
      </div>
    </div>
    <div class="body-content">
      <h1>Hello, <%=locals.name%></h1>
    </div>
  </body>
</html>
