<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="register.css" />
  </head>
  <body>
    <div class="main-form">
      <div class="form-content">
        <div class="form-wrap">
          <div class="heading">Register</div>
          <form method="post">
            <label class="col-md-4 control-label" htmlFor="name"> Name </label>
            <div class="col-md-4">
              <input
                id="name"
                name="name"
                type="text"
                placeholder="Name"
                class="form-control input-md"
                required
              />
            </div>
            <label class="col-md-4 control-label" htmlFor="email">
              E-mail
            </label>
            <div class="col-md-4">
              <input
                id="email"
                name="email"
                type="email"
                placeholder="Email"
                class="form-control input-md"
                required
              />
            </div>
            <label class="col-md-4 control-label" htmlFor="password">
              Password
            </label>
            <div class="col-md-4">
              <input
                id="password"
                name="password"
                type="password"
                placeholder="Password"
                class="form-control input-md"
                required
              />
            </div>
            <br />
            <div class="login-btn">
              <button>Login</button>
            </div>
          </form>
          <div class="resiter-link">
            <p>Already have account. <br /><a href="login">Login Now</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
