* {
  margin: 0;
  padding: 0;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url("2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-form {
  margin: 0 auto;
  min-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
}
.form-content {
  display: flex;
  flex-direction: row;
  background-color: white;
  max-width: 1000px;
  padding: 60px 90px;
  border-radius: 20px;
}
.heading {
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
}
label {
  font-size: 16px;
  font-weight: 500;
  padding-top: 7px;
  padding-bottom: 5px;
}
input {
  padding: 8px 20px;
  border: 2px solid black;
  border-radius: 5px;
}

.login-btn button {
  padding-top: 20px;
  padding: 12px 87px;
  background-color: black;
  color: white;
  border: 1px transparent;
  border-radius: 7px;
  cursor: pointer;
}
.resiter-link {
  text-align: center;
}
